html {scroll-behavior: smooth;}
body{
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
    padding-top: 60px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Muli', sans-serif;
    text-transform: capitalize;
    color: #000;
}
h1, .h1 {font-size: 1.75em;}
h2, .h2 {font-size: 1.6em;}
h3, .h3 {font-size: 1.25em;}
h4, h5, h6, .h4,.h4, .h6{font-size: 1em; }

p,li {color: #666; font-size: 1.0em;}
a {color: #444; text-decoration: none;  transition: 0.3s;}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #DC143C;
    cursor: pointer;
  }
  .topbtn button:hover{
      background: #000;
      color: #fff;
  }
/*--------section header start---------*/

.nav-link{color: #fff!important; font-size: 1em;  font-family: 'Muli', sans-serif; text-transform: uppercase; font-weight: 400;}
.bg-dark {
    background-color: #000!important;
}

@media screen and (max-width: 480px) {
    .home_nav{padding-left: 8px;}
    .main_grid{
        background-position-x: -120px !important;
        margin-top: 0 !important;
        background-size: contain;
    }
    .main_grid .text-box {padding-top: 100% !important;}
}

/*--------section header end---------*/
.avoid-law{
    position: relative;
    bottom: 6px;
}

.container-fluid-about {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.Lawsuits-text{
    color: #444; font-size: 1.2em; font-weight: 700;
}

a.learn-more {
    padding-left: 10px;
    color: #f27505 !important;
    text-decoration: underline!important;
}

.about-img{
    position: relative;
    left: 120px;
}

.insider-text{
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Muli', sans-serif;
    text-transform: capitalize;
    color: #000;
}

.service-text{
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Muli', sans-serif;
    text-transform: capitalize;
    color: #000;
}

.icon1 i {
    font-size: 40px;
    color: #DC143C;
    margin-bottom: 1rem;
}

.icon2 i {
    font-size: 60px;
    color: #DC143C;
    margin-bottom: 1rem;
}

.testimonials{
    background-image: url(images/testimonial-bg.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.testi_overlay{
background-color: rgba(0, 0, 0, 0.5);
}

.test-text{
    color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #660f18!important;
    border-color: #200407!important;
}

/*--------testimonials section end---------*/
/*--------footer-area start---------*/
footer a { text-transform: capitalize; font-size: 1em; }
.footer-area{ 
    background-image: url(images/seo-marketing-company.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer_overlay{
    background-color: rgba(255, 255, 255, 0.5);
}
    

.icon-info i{
    font-size: 40px;
    color: #222;
}

.footer-area a{ 
    color: #222;
    text-decoration: none;
}

.footer-bottom p{ 
    color: #222;
}

.footer-area .line{
    border: 1px;
    border-style: solid;
    border-color: #222;
    text-align: left;
    width: 22%;
}

.footer-info li {
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 16px;
    color: #222;
}

.footer-contact li {
    padding-bottom: 10px;
    font-size: 16px;
}

.footer-widget h4.widget-title {
    font-size: 17px;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    /* padding-bottom: 30px; */
}

/*--------footer-area end---------*/

@media screen and (max-width: 990px){

  
        
}

@media screen and (max-width: 600px){

    .about-img {
        position: relative;
        left: 16px;
    }
}
 